<footer class="c-footer">
	<p class="c-footer__copy">All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</p>
	<p class="c-footer__mention">Miksel Theme: minimalist ghost theme by <a href="http://www.dereksalmon.me" target="_blank">Pikselkraft</a></p>
	<p class="c-footer__ghost">Proudly published with <a class="c-iconghost" href="http://tryghost.org" target="_blank">Ghost</a></p>
</footer>
