{{!< default}}
{{#post}}

{{> header}}
	<div class="o-container">
		<main class="o-main" role="main">
        <header class="c-page__header">
            <h1 class="c-page__title">{{title}}</h1>
        </header>
        <section class="c-page__content">
            {{content}}
        </section>
			</main>
			{{> footer}}
		</div>
{{/post}}
