<div class="c-follow__icons">
	<a href="http://facebook.com/username"><i class="icon-facebook"></i></a>
	<a href="http://twitter.com/username"><i class="icon-twitter"></i></a>
	<a href="http://linkedin.com/in/username"><i class="icon-linkedin"></i></a>
	{{#if @labs.subscribers}}
			<a class="subscribe-button" href="{{@blog.url}}/subscribe/"><i class="icon-rss"></i></a>
	{{else}}
			<a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/"><i class="icon-rss"></i></a>
	{{/if}}
</div>
